<!--Banner-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
       <%= image_tag 'elearning.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Learn anything on your schedule!</h3>
          <%= link_to 'View Courses', courses_path, class: "btn btn-lg btn-success" %>
       </div>
    </div>
  </div>
</div>
<!-- End of Banner-->

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <i class="fa fa-youtube-play fa-4x icon"></i>
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-tv fa-4x icon"></i>
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <i class="fa fa-code fa-4x icon"></i>
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>